@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:letter"] header,
.newspaper header{
	font-variant: small-caps;
}

[epub|type~="z3998:letter"] footer,
.newspaper footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.inscription{
	font-variant: small-caps;
}

#chapter-5 blockquote td:first-child{
	padding-right: 1em;
}

#chapter-5 blockquote tr:last-child td + td{
	border-top: 1px solid;
	padding-bottom: 1em;
}

#chapter-5 blockquote td + td{
	font-variant-numeric: tabular-nums;
}

/* If the image is meant to be on its own page, use this selector... */
figure.full-page{
	margin: 0;
	max-height: 100%;
	break-before: page;
	break-after: page;
	break-inside: avoid;
	text-align: center;
}

/* In all cases, also include the below styles */
figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}
