@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

.label{
	border: 1px solid;
}

.newspaper header{
	font-variant: small-caps;
}

.signature{
	font-variant: small-caps;
}

.account{
	
}